#todo
    padding: 80px
    .box
        border-radius: 20px
        background-color: #915b33
        width: 240px
        height: 215px
        .textbox
            h1
                margin-top: 26px
                font-size: 38px
                color: #ffff
                font-weight: 700
        .minibox
            display: flex
            align-items: center
            flex-direction: column
            input
                width: 175px
                margin: 20px 0 20px
                padding: 15px 0px 15px 17px
                font-size: 15px
                border-radius: 20px
            .btn
                width: 68px
                font-size: 14px
                background-color: #ffff
                border-radius: 25px
                padding: 8px 0
                margin-bottom: 55px
                cursor: pointer
                &:hover
                    background-color: #cbd0d8
            h2
                font-size: 18px
                border: 2px solid #8d8b8b
                width: 170px
                border-radius: 20px
                text-align: center
                margin-top: 13px
                padding: 10px 0 10px
    @media screen and ( max-width: 300px )
        .box
            .textbox
                h1
                    font-size: 40px
                    margin-top: 20px
            .minibox
                .btn,input
                    font-size: 16px
        h2
            font-size: 20px
